*{
    margin 0;
}


.img-logo{
    background-image: url(../img/pattern.png);
    background-color: lightblue;
    
    padding-right: 60%;
    padding-top: 1,5rem;
    
    
}



.first-title{
    text-align: center;
}



.sub-title{
    padding-left: 35%;
    margin: 0 auto;
    padding-bottom: 5px;
}

.immage-intro{
    padding-left: 35%;
    margin:0 auto;
}

.argomenti{
    padding-left: 10%;
    margin:0 auto;
}

.img-1{
    background-image: url(../img/monitor.jpg);
    width: 250px;
    height: 250px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    color: antiquewhite;
}

.img-2{
    background-image: url(../img/graph.jpg);
    width: 250px;
    height: 250px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:40px ;
    color: antiquewhite;
}

.interest{
    padding-top: 10px;
    color: grey;

}

.text-yellow{
    background-color: yellow;

}

.lorem-table{
    padding-left: 25px; 
}


.argoment{
    padding-left: 25px;
    margin: 0 auto;
}

.paragrafh{
    padding-left: 25px;

}

.td-whidt{
    width: 50%;
}

.paragraf-1{
    background-color: yellow;
}

.td-table{
    height: 65px;
    background-color: lightblue;
    

}

.td-title{
    background-color: blue;
    color: antiquewhite;
}


.footer-img{
    padding-left: 25px;
}